SMTP_EMAIL=your-smtp-email@example.com
SMTP_PASSWORD=your-smtp-password
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret