

/* --- Gotham --- */
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* --- Pluto --- */
@font-face {
  font-family: 'Pluto';
  src: url('/fonts/PlutoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pluto';
  src: url('/fonts/PlutoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pluto';
  src: url('/fonts/PlutoHeavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* --- ChaparralPro --- */
@font-face {
  font-family: 'ChaparralPro';
  src: url('/fonts/ChaparralPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}



:root {
    /* Primary Colors */

    --orange: #ea5137;


    /* Neutral Colors */
    --white: #ffffff;
    --black: #000000;
    --grey: #4c4c4c;


    /* Font Families */
    --font-main: 'Inter', Arial, sans-serif;
    --font-title: 'Montserrat', 'Segoe UI', sans-serif;
    --font-mono: 'Fira Mono', 'Consolas', monospace;
}

body {
    background-color: var(--black);
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1, h2, p {
  color: var(--white);

}

h1 {
  margin-bottom: 1rem;
  font-family: 'Pluto';
  font-weight: 700;
  font-size: 4.5rem;
}

h2 {
  font-family: 'Pluto';
  margin-bottom: 0.5rem;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 350;
  text-align: center;
  position: relative;
  z-index: 1;
}

h2::before,
h2::after {
  content: '';
  flex: 1 1;
  height: 2px;
  background: var(--orange);
  border-radius: 1px;
  display: block;
  margin: 0;
}

h2::before {
  margin-right: 10rem;
}

h2::after {
  margin-left: 10rem;
}

p {
  font-family: 'Gotham';
  line-height: 1.5;
}

.navbar-atelier {
  display : flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--orange);
;
}

.navbar-bureau {
  display : flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--black);
  border-bottom: solid 1px var(--white);
}

.navbar-atelier a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-main);
  font-weight: bold;
}

.navbar-bureau a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-main);
  font-weight: bold;
}

/* Espace horizontal entre les liens de la navbar à droite */
.navbar-right a:not(:last-child) {
  margin-right: 1rem;
}

.navbar-atelier-center img {
  background-color: var(--orange);
  height: 3rem;
  object-fit: cover;
  border-radius: 100%;
  padding: 0.5rem;
  z-index: 1000;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-bureau-center img {
  background-color: var(--black);
  height: 3rem;
  object-fit: cover;
  border-radius: 100%;
  padding: 0.5rem;
  z-index: 1000;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

